#custom-cursor {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 42px;
  height: 62px;
  background-image: url("/img/mousem.png");
  background-size: cover;
  z-index: 9999;
  visibility: hidden;
  cursor: none;

}

#custom-cursor-click {
  position: fixed;
  top: 0;
  left: 0;
  pointer-events: none;
  width: 42px;
  height: 62px;
  background-image: url("/img/mousec.png");
  background-size: cover;
  z-index: 9999;
  visibility: hidden;
  cursor: none;
}


